@charset_(UTF-8);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root {
    --color2: #007c11c2;
    --color3 :#000000fa;
    --color5: #dbdbdb;
}

body {
    background-color: var(--color3);
    color: var(--color5);
    margin: auto;
}

.navegacao {
    position: fixed; /*posição fixa*/
    top: 0; /*zerado no topo*/
    background: var(--color2);
    width: 100%; /*largura em todo o top*/
    z-index: 100; /*sempre acima do conteúdo*/
    padding: 2rem;
    
}

.menu {
    flex: 1 0 100% ;
    height: 100%;
    display: flex;
    list-style: none; /*tira a bolinha*/
    gap: 2rem; /*distancia entre os itens*/
    justify-content: center; /*itens ao centro com espaçamento*/
}

li a {
    border: 2px solid black;
    padding: 10px 15px;
    border-radius: 15px;
}

.menu, li, a {
    text-decoration: none;
    color: #000000;
}

li > a:hover {
    background-color: var(--color3);
    color: white;
}

.foto {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 0 70px var(--color2);
    animation: flutuar 5s ease-in-out infinite; /*(flutuar) pegou o nome configurado no @keyframes com uma animação suave de 5s infinita*/
}

@keyframes flutuar { /*isso é uma configuração de animação*/
    0%, 100% { /*começa e termina no mesmo local*/
        transform: translateY(0);
    }
    50% { /*na metade ele se desloca -10% para cima (eixo Y)*/
        transform: translateY(-10%);
    }
}

.start {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    padding-top: 200px;
}

strong {
    color: var(--color2);
}

h1 {
    font-size: 5em;
}

.p-main {
    font-size: 1.7em;
    color:var(--color5);
}

.titulo-sobre {
    text-align: center;
    font-size: 2em;
    color: var(--color5);
}

.sobre-mim {
    margin: 50px auto;
    max-width: 60%;
    border: 2px solid var(--color2);
    padding: 20px;
    border-radius: 10px;
}

.titulo-projetos {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.pp, .p-projetos {
    width: 400px;
    padding: 10px;
}

.div-pro {
    align-items: center;
    border: 2px solid var(--color2);
    border-radius: 10px;
    transition: all 0.5s ease; /*a animação é aplicado para todos os cards e tem um deslocamento suave*/
    overflow: hidden; /*faz com que quando o elemento tem bordas arredondadas, as sobras da imagem suma*/
    cursor: pointer;
}

.div-pro:hover {
    box-shadow: 0 0 50px var(--color2); /*sombra*/
    transform: translateY(-10px) scale(1.03); /*faz o item se deslocar para cima e aumentar de tamanho*/
}

article {
    display: flex;
    flex-flow: row wrap; /*essa propriedade faz os projetos quebrarem um abaixo do outro*/
    justify-content: space-evenly;
    margin: 50px;
    gap: 30px;
}

h3 {
    text-align: center;
    margin-top: 30px;
    font-weight: 1.5em;
}

.p-projetos {
    text-align: center;
    margin-top: 5px;
    padding: 20px;
    line-height: 1.3em; /*espaço vertical de uma linha a outra*/
}


.contato-info {
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
}

.contato-info, p {
    margin-top: 20px;
}

.social, a {
    flex-flow: row;
    color: var(--color3);
    margin: 50px 0 50px 0;
    padding: 0 20px;
    gap: 20px;
}

footer {
    background-color: var(--color2);
    text-align: center;
    padding: 10px 0 25px;
}

footer, a {
    color: var(--color3);
}
