@charset_(UTF-8);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


:root {
    --color2: #3100b8c2;
    --color4: #4b02be;
    --color3 :#000000fa;
    --color5: #dbdbdb;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px; /*faz com que quando eu clique nas opções do menu, a tela fique exatamente em cima os id´s programados, criando uma caixa invisivel do tamanho do menu superior e não deixe ele cobrir os id´s*/
  }

body {
    background-color: var(--color3);
    color: var(--color5);
}

/* ========================= MENU ========================= */

.navegacao {
    position: fixed; /*posição fixa*/
    top: 0; /*zerado no topo*/
    background: var(--color2);
    width: 100%; /*largura em todo o top*/
    z-index: 100; /*sempre acima do conteúdo*/
    padding: 2rem;
}


.menu {
    flex-flow: row wrap;
    display: flex;
    list-style: none; /*tira a bolinha*/
    gap: 2rem; /*distancia entre os itens*/
    justify-content: center; /*itens ao centro com espaçamento*/
}


li a {
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    color: var(--color5);
    border: 2px solid var(--color5);
}


li > a:hover {
    background-color: var(--color3);
    color: white;
}

/* ========================= FOTO/INICIO ========================= */

.foto {
    width: 100%; /*a imagem se adapta ao espaço disponível*/
    max-width: 300px; /*não fica gigante demais*/
    height: auto; /*mantém proporcional*/
    border-radius: 50%; /*a imagem fica redonda*/
    display: block;
    margin: 0 5px;
    box-shadow: 0 0 70px var(--color4);
    animation: flutuar 5s ease-in-out infinite; /*(flutuar) pegou o nome configurado no @keyframes com uma animação suave de 5s infinita*/
}


@keyframes flutuar { /*isso é uma configuração de animação*/
    0%, 100% { /*começa e termina no mesmo local*/
        transform: translateY(0);
    }
    50% { /*na metade ele se desloca -10% para cima (eixo Y)*/
        transform: translateY(-10%);
    }
}


.inicio {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    padding-top: 200px;
}


strong {
    color: var(--color4);
}


h1 {
    font-size: 5em;
    margin: 0 20px;
}


.p-main {
    font-size: 1.7em;
    color:var(--color5);
}

/* ========================= SOBRE MIM ========================= */

.titulo-sobre {
    text-align: center;
    font-size: 2em;
    color: var(--color5);
    margin-top: 50px;
}


.sobre-mim {
    margin: 50px auto;
    max-width: 50%;
    border: 2px solid var(--color2);
    padding: 20px;
    border-radius: 10px;
}

/* ========================= PROJETOS ========================= */


.titulo-projetos {
    text-align: center;
    font-size: 2em;
    margin-bottom: 50px;
}


.pp, .p-projetos {
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100%;

}


.cards {
    width: 80%;
    max-width: 400px;
    margin: 0 5px;
    align-items: center;
    border: 2px solid var(--color2);
    border-radius: 10px;
    transition: all 0.5s ease; /*a animação é aplicado para todos os cards e tem um deslocamento suave*/
    overflow: hidden; /*faz com que quando o elemento tem bordas arredondadas, as sobras da imagem suma*/
    cursor: pointer;
}


.cards:hover {
    box-shadow: 0 0 50px var(--color2); /*sombra*/
    transform: translateY(-10px) scale(1.03); /*faz o item se deslocar para cima e aumentar de tamanho*/
}


article {
    display: flex;
    flex-flow: row wrap; /*essa propriedade faz os projetos quebrarem um abaixo do outro*/
    justify-content: space-evenly;
    gap: 30px;
}


h3 {
    text-align: center;
    margin-top: 30px;
    font-weight: 1.5em;
}


.p-projetos {
    text-align: center;
    margin-top: 5px;
    padding: 20px;
    line-height: 1.3em; /*espaço vertical de uma linha a outra*/
}

/* ========================= CONTATO ========================= */


.contato {
    padding: 40px 20px;
    text-align: center;
}

.contato-info p {
    font-size: 1.2rem;
    line-height: 1.5em;
}

.social {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 25px;
}

.social img {
    width: 45px;   /* tamanho ideal */
    height: 45px;
    transition: transform 0.3s ease; /*pequena animação nos icones*/
}

.social img:hover {
    transform: scale(1.15); /*animação dos icones para eles crescerem um pouco*/
}

/* ========================= FOOTER ========================= */

footer {
    background-color: var(--color2);
    text-align: center;
    padding: 10px 0 25px;
}


footer a {
    color: var(--color3);
}
